<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Fintech</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/submarine.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake-slow.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Fintech</a>
            <!-- <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        </div>
    </nav>
    <div id="get-start">
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center orange-text text-lighten-2">Let's Guess Number!</h1>
                    <div class="row center">
                        <h5 class="header col s12 light">Fintech Fintech Fintech Fintech Fintech Fintech Fintech Fintech</h5>
                    </div>
                    <div class="row center">
                        <a id="show-guess" class="btn-large waves-effect waves-light orange lighten-1">Get Started</a>
                    </div>
                    <br><br>
                    
                </div>
            </div>
            <div class="parallax"><img src="background4.jpg" alt="Unsplashed background img 1"></div>
        </div>
        
        
        <div class="container">
            <div class="section">
                
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Fun</h5>
                            
                            <p class="light">Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun Fun</p>
                        </div>
                    </div>
                    
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">Demo</h5>
                            
                            <p class="light">Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo</p>
                        </div>
                    </div>
                    
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Play</h5>
                            
                            <p class="light">Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play Play</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        
        <!-- <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
        </div> -->
        
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h4>Contact Us</h4>
                        <p class="middle-align light">國立中山大學，（簡稱：中山，英文譯名：National Sun Yat-sen University, NSYSU），原建於廣州，是台灣一所由中華民國國父孫中山創辦的國立大學，中華民國教育部最初7所重點研究型大學之一[4]。其前身為國立廣東大學、國立第一中山大學（與現今中山大學同源），1924年與黃埔軍校一同創立。因兩岸分治，1980年由莫斯科中山大學校友暨中華民國總統蔣經國首肯，第12任行政院長李煥親自籌辦高雄市在台復校，成為中央在南台灣設立的第一所國立大學。 </p>
                    </div>
                </div>
                
            </div>
        </div>
        
        
        <!-- <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
        </div> -->
        
        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Company Bio</h5>
                        <p class="grey-text text-lighten-4">We are a team of graduates working mainly on cybersecurity and fintech.</p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <!-- <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li> -->
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <!-- <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
            </div>
        </footer>
    </div>
    <div id="guess" style="display: none; background-color: #306D85; height: 100vh;">
        <div class="container">
            <div class="section" v-if="web3.account && web3.network == 'ropsten' && contract.registered && web3.balance">
                <div class="row">
                    <div class="col s12 center">
                        <h5 class="white-text">Welcome, {{ web3.account }}!<br>You have {{ web3.balance }} ETH in your Wallet.</h5>
                    </div>
                </div>
                <!-- https://codepen.io/larsmagnus/pen/JNaqZb -->
                <div class="sea" style="margin-top: 0px;">
                    <div class="circle-wrapper">
                        <div class="bubble"></div>
                        <div class="submarine-wrapper">
                            <div class="submarine-body">
                                <div class="window"></div>
                                <div class="engine"></div>
                                <div class="light"></div>
                            </div>
                            <div class="helix"></div>
                            <div class="hat">
                              <div class="leds-wrapper">
                                  <div class="periscope"></div>
                                  <div class="leds"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 input-field">
                        <div class="icon-block">
                            <h4 class="center">{{ guess_number.lower_bound }}</h4>
                        </div>
                    </div>
                    <div class="input-field col m4 center">
                        <!-- <i class="material-icons prefix">mode_edit</i> -->
                        <input placeholder="Number" id="first_name" type="text" class="validate center icon-block" style="font-size: 2.28rem; line-height: 110%; margin: 1.52rem 0px 0.912rem;" v-model="guess_number.guess" onkeydown="onEnter(this)">
                        <!-- <label for="first_name" style="text-align: center;">Give Me Number</label> -->
                    </div>
                    <div class="col s12 m4 input-field">
                        <div class="icon-block">
                            <h4 class="center">{{ guess_number.upper_bound }}</h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col s2"></div>
                    <div class="col s8">
                        <form action="#">
                            <p class="range-field">
                                <input type="range" id="test5" min="0" max="100" />
                            </p>
                        </form>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col s12 center">
                        <div v-if="!guess_number.already_guessing">
                            <button class="btn-large waves-effect waves-light" type="submit" name="action" onclick="submitInput()">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <p>
                                <label>
                                    <input type="checkbox" v-model="guess_number.more_gas"/>
                                    <span>BOOST MODE</span>
                                </label>
                            </p>
                        </div>
                        <div class="preloader-wrapper big active" v-else>
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="!web3.account">
                <h4 class="header center orange-text text-lighten-2" style="margin: unset; padding-top: 50px; line-height: 1.5; padding-bottom: 50px;">Your Ethereum Wallet account cannot be detected!<br>Please open MetaMask and check your settings.</h4>
                <div class="row">
                    <div class="col s12 center">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <p class="white-text">Waiting for detecting your account correctly...<br>The process will continue once your MetaMask is set.</p>
                    </div>
                </div>
            </div>
            <div v-else-if="!web3.balance">
                <h4 class="header center orange-text text-lighten-2" style="margin: unset; padding-top: 50px; line-height: 1.5; padding-bottom: 50px;">You don't have enough ETH.<br>Please go to <a href="https://faucet.ropsten.be/">Ropsten Ethereum Faucet</a> to request ETH.</h4>
                <div class="row">
                    <div class="col s12 center">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <p class="white-text">Waiting for enough ETH...<br>The process will continue once your have enough ETH.</p>
                    </div>
                </div>
            </div>
            <div v-else-if="web3.network != 'ropsten'">
                <h4 class="header center orange-text text-lighten-2" style="margin: unset; padding-top: 50px; line-height: 1.5; padding-bottom: 50px;">Please change your account to Ropsten Test Network!<br>After you do so, click REFRESH button below.</h4>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn-large waves-effect waves-light" type="submit" name="action" onclick="updateNetwork()">Refresh
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
            <div v-else>
                <h4 class="header center orange-text text-lighten-2" style="margin: unset; padding-top: 50px; line-height: 1.5; padding-bottom: 50px;">You must register in the contract first!<br>If no MetaMask window pops up, please click REGISTER button below.</h4>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn-large waves-effect waves-light" type="submit" name="action" onclick="getContract()" v-if="!contract.register_running">Register
                            <i class="material-icons right">send</i>
                        </button>
                        <div class="row" v-else>
                            <div class="col s12 center">
                                <div class="preloader-wrapper big active">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 center">
                                <p class="white-text">Waiting for register...<br>The process will continue automatically.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Out of Range</h4>
                <p>Your input should be between {{ guess_number.lower_bound }} and {{ guess_number.upper_bound }}.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>
        <div id="guess_wrong" class="modal">
            <div class="modal-content">
                <h4>Wrong Guess</h4>
                <p>You guessed a wrong number!<br>Now guess from {{ guess_number.lower_bound }} to {{ guess_number.upper_bound }}.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>
        <div id="guess_right" class="modal">
            <div class="modal-content">
                <h4>Right Guess</h4>
                <p v-if="guess_number.correct_guesser != web3.account">Someone has guessed a correct number!</p>
                <p v-else>You've guessed the correct number!</p>
                <div v-if="guess_number.coorect_guesser && guess_number.coorect_number">
                    <p>Retrieving information of the correct number...</p>
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="data" v-else>Correct Number: {{ guess_number.correct_number }}<br>Guesser: {{ getStudentName() }}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>
        <!-- <canvas></canvas> -->
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/guess_number.js"></script>
</body>
</html>
